$color-primary: #623dff;
$color-secondary: #3519b3;
$color-tertiary-1: #b39f07;
$color-tertiary-2: #301f80;
$color-tertiary-3: #504580;
$color-tertiary-4: #c0ff30;

$color-black-1: #25232e;
$color-black-75: #5c5a62;
$color-black-50: #8e8d92;
$color-black-25: #c7c6c9;
$color-black-15: #dedee0;
$color-black-10: #e9e9ea;
$color-black-5: #f4f4f5;

$color-error: #e83a2c;
