@media (max-width: 840px) {
  .alert {
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 13px;
  }
}

@media (max-width: 440px) {
  .alert {
    font-size: 12px;
    margin-bottom: 11px;
  }
}

@media (max-width: 380px) {
  .alert {
    font-size: 10px;
  }
}
