.home-container {
  position: absolute;
  top: 11%;
  left: 20%;
  width: calc(100% - 20%);
  padding: 20px;
}

.devices-container {
  padding: 0;
  top: 13%;
  left: 19.8%;
  width: calc(100% - 19.8%);
}

.table-position-container {
  position: absolute;
  padding: 0;
  top: 13%;
  left: 19.8%;
  width: calc(100% - 19.8%);
}
