.signup-container {
  @extend .front-container;
}

.signup-content {
  @extend .front-content;
  width: 650px;

  .krynn-logo {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .header {
    @extend .front-header;
    color: $color-grey-2;
    font-size: 16px;
    margin-bottom: 8px;

    &.show-alert {
      padding-bottom: 0px;
    }
  }

  .alert {
    margin-top: 0px;
  }
}

.signup-form {
  @extend .front-form;
}

.signup-control {
  @extend .form-control;
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 7px;
    letter-spacing: 0.25px;
  }

  .signup-input {
    @extend .form-input;
    font-size: 15px;
    height: 43px;

    &::placeholder {
      font-size: 15px;
    }
  }

  .eye-icon {
    @include icon(77%, 4%);
  }

  &.email-page {
    .signup-input {
      height: 45px;
    }
  }

  &.fullName-control {
    display: flex;
    align-items: center;

    .firstName {
      width: 50%;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: 0px;
    }

    .lastName {
      width: 50%;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}

.signup-btn {
  margin-top: 20px;
  @extend .front-btn;
  height: 45px;
}

.link-login {
  margin-top: 10px;
}
